/* Global Styling */

    * {
        padding: 0;
        box-sizing: border-box;
        font-family: anton;
        letter-spacing: .7px;
    }

    ul {
        list-style-type: none;
    }

    body {
        width: 100%; 
        margin: 0 auto;
    }

    section {
        margin: 50px 0;
    }

    #top {
        position: absolute;
        top: 0px;
    }

/* End of styling */


/* Nav Styling */
    nav #logo {
        padding: 10px;
    }

    nav a#logocolor {
        background-color: #0000;
    }

    nav {
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        margin: 0 auto;
        background-color: #5479f7;
    }

    #navcontainer {
        display: flex;
        justify-content: space-between;
        width: 80%; 
        margin: 0 auto;
        align-items: center;
    }

    nav ul {
        display: flex;
        max-height: 40px;
        padding-right: 30px;
        align-items: center;
    }

    nav a:hover {
        color: black;
        background-color: #e2eaff;
    } 

    nav a {
        display: flex;
        width: 8rem;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #000;
        font-size: 1.75rem;
        padding: 5px;
        background-color: #0008;
        color: #e2eaff;
        margin-left: 30px;
        border-radius: 4em;
    }

    @media only screen and (max-width:1200px) {
        nav #logo {
            display: none;
        }

        nav a#logocolor {
            display: none;
        }

        #navcontainer {
            display: flex;
            justify-content: center;
            width: 80%; 
            margin: 0 auto;
            align-items: center;
        }

        nav ul {
            display: flex;
            max-height: 40px;
            padding-right: 30px;
            align-items: center;
        }

        nav a {
            display: flex;
            width: 8rem;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #000;
            font-size: 1.75rem;
            padding: 5px;
            background-color: #0008;
            color: #e2eaff;
            margin-left: 30px;
            border-radius: 4em;
        }
    }

/* End of styling */


/* Header Styling */

    #mainheader {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6% auto 0 auto;
    }

    #mainheader img {
        width: 60%;
        height: 100%;
    }

    header {
        display: flex;
        align-items: center;
    }

    #headercontainer {
        min-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 2rem;
        border-radius: 4em;
        border: 2px solid black;
    }

    #mainheader h1 {
        height: inherit;
        font-size: 4em;
        margin: 0;
        color: #5479f7;
    }

    #mainheader p {
        height: inherit;
        font-family: roboto;
        font-size: 1.5em;
        color: #000;
    }

    @media only screen and (max-width: 1810px) and (min-width: 1200px) {
        #mainheader {
            margin: 0 auto;
        }

        #mainheader img {
            margin: 0 auto;
            width: 50%;
            height: 50%;
        }

        header {
            justify-content: center;
        }

        #headercontainer {
            margin: 0 30px;
            display: flex;
            flex-wrap: wrap;
            min-width: 500px;
        }

        #mainheader h1 {
            height: inherit;
            font-size: 3em;
            margin: 0;
            color: #5479f7;
        }
    
        #mainheader p {
            height: inherit;
            font-family: roboto;
            font-size: 1.25em;
            color: #000;
        }
    }

    @media only screen and (max-width:1200px) {
        #mainheader {
            margin: 0 auto;
        }

        #mainheader img {
            margin: 0 auto;
            width: 60%;
            height: 100%;
        }

        header {
            justify-content: center;
            flex-wrap: wrap;
        }

        #headercontainer {
            min-width: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            border-radius: 4em;
            border: none;
        }

        #mainheader h1 {
            height: inherit;
            font-size: 3em;
            margin: 0;
            color: #5479f7;
            text-align: center;
        }
    
        #mainheader p {
            height: inherit;
            font-family: roboto;
            font-size: 1.25em;
            color: #000;
            text-align: center;
        }
    }

    @media only screen and (max-width:650px) {
        #headercontainer {
            min-width: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            padding: 2rem;
            border-radius: 4em;
            border: none;
        }
    
        #mainheader h1 {
            height: inherit;
            font-size: 3em;
            margin: 0;
            color: #5479f7;
        }
    
        #mainheader p {
            height: inherit;
            font-family: roboto;
            font-size: 1.25em;
            color: #000;
        }
    }

/* End of styling */


/* Services Styling */

    #services {
        margin: 5% auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #servicesbox {
        margin: 50px auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #services div#trusses {
        flex-direction: row-reverse;
        align-self: start;
    }

    #services div#sheathing {
        align-self: end;
    }

    #services div#underlayment {
        flex-direction: row-reverse;
        align-self: start;
    }

    #services div#shingles {
        align-self: end;
    }

    #services div#coating {
        flex-direction: row-reverse;
        align-self: start;
    }

    #services div#gutters {
        align-self: end;
    }

    #services div#trusses,
    #services div#underlayment,
    #services div#shingles,
    #services div#sheathing,
    #services div#coating,
    #services div#gutters {
        width: 100%;
        display: flex;
        margin: 75px 0;
    }
    
    #services h1 {
        text-align: center;
        margin: 0  auto;
        width: 100%;
        font-size: 6em;
        color: #e2eaff;
        background-color: #5479f7;
    }
    
    #services.servicecontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #services div.servicecontainer h3 {
        text-align: center;
        width: 100%;
        font-size: 4em;
    }

    #services div.servicecontainer p {
        font-family: roboto;
        font-size: 1.5em;
        text-align: center;
    }

    #services img {
        width: 60%;
        }

    @media only screen and (max-width: 1200px) {
        #services div#trusses,
        #services div#underlayment,
        #services div#shingles,
        #services div#sheathing,
        #services div#coating,
        #services div#gutters {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 75px 0 0 0;
        align-items: center;
        justify-content: center;
        }

        #services img {
            width: 90%;
        }

        #services.servicecontainer {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #services div.servicecontainer h3 {
            margin: 10px 0 0 0;
            text-align: center;
            width: 100%;
            font-size: 4em;
        }
        
        #services div.servicecontainer p {
            text-align: center;
            font-family: roboto;
            font-size: 1.5em;
        }
        
    }
    /* End of styling */
    
    
    /* About Us Styling */
    
    #about h1 {
        text-align: center;
        margin: 0  auto;
        width: 100%;
        font-size: 6em;
        color: #e2eaff;
        background-color: #5479f7;
    }

    #about {
        margin: 5% auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #aboutbox {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
    }

    #about img {
        width: 100%;
    }

    div#safety,
    div#permit,
    div#regulations {
        min-width: 400px;
        width: 30%;
        margin: 20px;
    }

    .aboutcontainer h3 {
        font-size: 4em;
        text-align: center;
    }

    .aboutcontainer p {
        font-size: 1.5em;
        font-family: roboto;
    }

    @media only screen and (max-width: 1200px) {
        #aboutbox {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-wrap: wrap;
        }

        div#safety,
        div#permit,
        div#regulations {
            min-width: 400px;
            width: 100%;
            margin: 20px;
        }

        #about img {
            width: 90%;
        }

    }

/* End of styling */

    
/* Contact Styling */

#contact h1 {
    text-align: center;
    margin: 0  auto;
    width: 100%;
    font-size: 6em;
    color: #e2eaff;
    background-color: #5479f7;
}

#contactcontainer {
    border: 2px solid black;
    border-radius: 4em;
    padding: 25px;
    margin: 50px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contactcontainer span {
    text-decoration: underline;
    color: #5479f7;
}

#contactcontainer p {
    font-family: roboto;
    font-size: 1.5em;
}

#contact button {
    align-self: center;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #e2eaff;
    font-size: 1.75rem;
    padding: 5px;
    background-color: #5479f7;
    margin-left: 0 auto;
    border-radius: 4em;
}

/* Footer Styling */

    footer {
        background-color: #5479f7;
        display: flex;
        justify-content: space-between;
    }

    footer h6 {
        display: flex;
        justify-content: start;
        align-items: end;
        font-size: 1em;
    }

    footer a {
        color: #e2eaff;
        text-decoration: none;
        font-size: 4em;

    }

    footer a:hover {
        color: black;
    } 

    footer h6,
    footer a {
        margin: 10px;
    }

